/* base.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  background-color: #1b1b1f;
  color: #ffffff;
}

/* UTIL */
.hidden {
  display: none;
}

.external {
  float: right;
}