/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: stretch;

  background-color: #2a0f52;
  z-index: 1000;
}

.navbar a {
  display: flex;
  align-items: center;
  padding: 14px 18px;
  height: 100%;
  color: white;
  text-decoration: none;
}

/* DROPDOWN */
.dropdown {
  position: relative;
  display: flex;
}

.dropbtn {
  display: flex;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;

  background-color: #24242a;
  min-width: 180px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);
  z-index: 2000;
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}